<div class="col-md-12">
    <div class="card">
        <h4 class="card-header">Usuários</h4>
        <div class="card-body">
            <p-table class="table table-striped" [columns]="cols" 
                [value]="usuarios" 
                [paginator]="true" 
                [rows]="10" 
                dataKey="login" 
                selectionMode="single">
                <ng-template pTemplate="caption">
                    Lista de Usuários
                    <div class="ui-table-globalfilter-container">
                        <input type="text" 
                            pInputText size="50" 
                            placeholder="Global Filter" 
                            (input)="dt.filterGlobal($event.target.value, 'contains')" 
                            style="width:250px;">
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th class="thead-dark" *ngFor="let col of columns" [pSortableColumn]="col.field" [ngSwitch]="col.field">
                            {{col.header}}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                        </th>
                        <th style="width: 8em; text-align: center;">
                            <button pButton type="button" icon="pi pi-cog"></button>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData">
                        <td>{{rowData.login}}</td>
                        <td>{{rowData.nome}}</td>
                        <td>
                            <button pButton type="button" class="btn btn-primary" icon="pi pi-search" style="margin-right: .5em"></button>
                            <button pButton type="button" class="btn btn-warning" icon="pi pi-pencil"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
